<h1>This is a blog page</h1>

<p>We are excited to host the worlds coolest blogs!!</p>

<%= render 'form' %>

<p>Other places you can find cool blogs</p>

<a href="www.facebook.com">Facebook</a>
<a href="www.myspace.com">MySpace</a>
<a href="www.friendster.com">Friendster</a>

